<div class="search-header">
	<div class="logo">
		<h2> <i class="fa fa-cutlery" aria-hidden="true"></i>WARP SEARCH</h2>
	</div>
	<div class="search-panel">
		<h1>{{vm.restaurant.name}}</h1>
		<a href="{{vm.restaurant.url}}" target="_blank"><h5>{{vm.restaurant.vicinity}} - Phone: {{vm.restaurant.international_phone_number}}</h5></a>
		<p>
			Rating: {{vm.restaurant.rating ? vm.restaurant.rating: 'Not Rated'}}
		</p>
		<p ng-if="vm.opening_hours">
			<span ng-if="vm.opening_hours.open_now" class="text-green">Open Now</span>
			<span ng-if="!vm.opening_hours.open_now" class="text-green">Closed Now</span>
		</p>
	</div>
</div>

<div class="container search-list">
	<div class="row">
		<h3>Reviews</h3>
		<div class="col-md-4" ng-repeat="review in vm.restaurant.reviews">
			<div class="review">
				<img src="{{review.profile_photo_url}}">
				<span class="rating" ng-class="{'red':review.rating < 3}">{{review.rating ? review.rating : 'Not Rated'}}</span>
				<h4>{{review.author_name}}</h4>
				<p class="text">{{review.text}}</p>
			</div>
			
		</div>
	</div>
	<div class="row">
		<h3>Add Your Review</h3>
		<div class="col-md-12 add-review">
			<div class="review">
				<input type="number" class="input" ng-model="vm.rating" placeholder="Between 1 to 5">
				<textarea placeholder="Add Review" ng-model="vm.review"></textarea>
				<button class="sbtn" ng-class="{'active':vm.rating}" ng-click="vm.saveReview()" ng-disabled="!vm.rating">Submit Review</button>
			</div>
			
		</div>
	</div>
</div>
