<div class="search-header">
	<div class="logo">
		<h2> <i class="fa fa-cutlery" aria-hidden="true"></i>WARP SEARCH</h2>
	</div>
	<div class="search-panel">
		<h1>Explore</h1>
		<h5>Let's uncover the best places to eat nearest you.</h5>
		<input type="text" class="search" g-places-autocomplete ng-model="vm.googlePlace.selected"  placeholder="Search for an area"/>
	</div>
</div>

<div class="container search-list">
	<div class="row nothing-found" ng-if="vm.restaurants.length < 1 && !vm.loadingRestaurants">
		<h2>No restaurant found.</h2>
	</div>
	<div class="row spinner" ng-if="vm.loadingRestaurants">
		<h3>
			<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
		</h3>
	</div>
	<div class="row" ng-if="vm.restaurants.length > 1">
		
		<div class="col-md-4" ng-repeat="restaurant in vm.restaurants" ng-if="restaurant.photos">
			<div class="restaurant">
				<div class="photo">
					<a ui-sref="^.place({id:restaurant.place_id})">
						<!-- <img src="{{'https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photoreference='+restaurant.photos[0].photo_reference+'&key='+globalConfigs.googlePlacesKey}}"> -->
						<img src="{{ 'https://source.unsplash.com/category/food/400x'+(300+$index) }}">
					</a>
				</div>
				<div class="name-rating">
					<span class="name">{{restaurant.name}}</span>
					<span class="rating" ng-class="{'red':restaurant.rating < 3}">{{restaurant.rating ? restaurant.rating : 'Not Rated'}}</span>
				</div>
				<div class="search-footer">
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> {{restaurant.vicinity}} </p>
				</div>
			</div>
		</div>
	</div>
</div>
