<div class="modal-content">
    <div class="modal-header text-center">
        <h4 class="modal-title">Create A Category</h4>
        <small>Please enter name of the new category in the input box.</small>
    </div>
    <div class="modal-body">
        <h5 class="m-t-none">Category Name Name</h5>

       <div class="col-md-6">
    		<input ng-model="categoryName" class="form-control" placeholder="Category Name">
    	</div>
       <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal();">Close</button>
        <button type="button" class="btn btn-accent" ng-click="createCategory($parent.categoryCreationType,categoryName);">Add Category</button>
    </div>
</div>