/*
	Style for custom
*/
html,
body {
  font-family: 'Quicksand', Sans Serif, helvetica;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
/* Header Style Atoms */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', Sans Serif, helvetica;
  font-weight: bold;
}
h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 52px;
  letter-spacing: 1px;
  margin: 30px 0px 30px 0px;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 768px) {
  h1 {
    font-size: 38px;
    line-height: 42px;
  }
}
h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  margin: 20px 0px 20px 0px;
}
h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  margin: 18px 0px 18px 0px;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin: 16px 0px 16px 0px;
}
h5 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin: 14px 0px 14px 0px;
}
h6 {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  margin: 12px 0px 12px 0px;
}
/* Paragraph Styles */
p {
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  margin: 12px 0px 12px 0px;
}
p.small {
  font-size: 13px;
  line-height: 16px;
  margin: 11px 0px 12px 0px;
}
p.large {
  font-size: 18px;
  line-height: 28px;
  margin: 14px 0px 14px 0px;
}
/* Span Styles */
span {
  font-size: 12px;
  font-weight: normal;
  margin: 12px 0px 12px 0px;
}
/* Anchor */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover.csgreen,
a:active.csgreen,
a:focus.csgreen {
  color: #8DDBBA;
}
a:hover.csorange,
a:active.csorange,
a:focus.csorange {
  color: #F3F3F3;
}
a:hover.csteal,
a:active.csteal,
a:focus.csteal {
  color: #03d4df;
}
a:hover.csgrey,
a:active.csgrey,
a:focus.csgrey {
  color: #dfdfdf;
}
a:hover.csorange,
a:active.csorange,
a:focus.csorange {
  color: #F3F3F3;
}
a:hover.csyellow,
a:active.csyellow,
a:focus.csyellow {
  color: #fbcc1a;
}
a:hover.csteal,
a:active.csteal,
a:focus.csteal {
  color: #03d4df;
}
a:hover.text-tlgrey {
  color: white;
  o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sbtn {
  border: none;
  border-radius: 4px;
  box-sizing: content-box;
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  padding: 0px 30px;
  height: 40px;
  font-family: 'Quicksand', Sans Serif, helvetica;
  font-size: 15px;
  line-height: 22px;
  text-overflow: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
.sbtn.active {
  background: #8DDBBA;
}
button:focus {
  outline: 0px;
}
.warp-loader,
.warp-loader:before,
.warp-loader:after {
  border-radius: 50%;
}
.warp-loader {
  color: #03d4df;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0px 0px 0px 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.warp-loader:before,
.warp-loader:after {
  position: absolute;
  content: '';
}
.warp-loader:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0px 0px 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.warp-loader:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0px 10.2em 10.2em 0px;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
.navbar-header {
  width: 100%;
  background: black;
}
.navbar-header .navbar-brand {
  width: 100%;
  height: auto;
  padding: 0px 16px;
}
.navbar-header .navbar-brand .fa {
  float: left;
  padding-right: 10px;
}
.navbar-header .navbar-brand h2 {
  float: left;
  padding: 8px;
  color: white;
}
.search-header {
  width: 100%;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url('https://source.unsplash.com/KveL_hxuY0Q/2500x1000') no-repeat center;
}
.search-header .logo {
  width: 100%;
  float: left;
  padding-left: 22px;
  padding: 10px 0px 22px 30px;
}
.search-header .logo .fa {
  padding-right: 16px;
}
.search-header .search-panel {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
}
.search-header .search-panel h1 {
  padding: 16px 0px;
  margin: 0px auto;
  width: 100%;
}
.search-header .search-panel input.search {
  width: 60%;
  padding: 8px 16px;
  margin-top: 16px;
  color: teal;
}
.search-list {
  padding-top: 80px;
  padding-bottom: 80px;
}
.search-list .nothing-found,
.search-list .spinner {
  text-align: center;
}
.search-list .restaurant {
  border-radius: 5px;
  margin-bottom: 40px;
  border: 1px solid #e3e3e3;
  padding: 0px 0px;
  display: inline-block;
  width: 100%;
}
.search-list .restaurant .photo {
  height: 182px;
  overflow: hidden;
}
.search-list .restaurant .photo img {
  width: 100%;
  border-radius: 5px;
}
.search-list .restaurant .name-rating {
  padding-top: 16px;
  font-weight: bold;
  width: 100%;
  float: left;
}
.search-list .restaurant .name-rating .name {
  float: left;
  padding-left: 8px;
  font-size: 19px;
  line-height: 27px;
  font-weight: 500;
  max-width: 90%;
}
.search-list .restaurant .name-rating .rating {
  background-color: #73cf42;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 19px;
  margin-right: 8px;
  padding: 3px 6px;
  float: right;
  min-width: 30px;
  text-align: center;
}
.search-list .restaurant .name-rating .rating.red {
  background-color: red;
}
.search-list .restaurant .search-footer {
  width: 100%;
  float: left;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #e3e3e3;
}
.search-list .restaurant .search-footer .fa {
  margin-right: 4px;
}
.search-list .review {
  position: relative;
  margin-bottom: 40px;
  margin-top: 20px;
}
.search-list .review img {
  width: 50px;
}
.search-list .review .rating {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #73cf42;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 19px;
  margin-right: 8px;
  padding: 3px 6px;
  float: right;
  min-width: 30px;
  text-align: center;
}
.search-list .review .rating.red {
  background-color: red;
}
.search-list .review .text {
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-list .add-review input,
.search-list .add-review textarea {
  width: 100%;
  padding: 8px 16px;
  color: teal;
  margin-bottom: 20px;
}
.search-list .add-review .sbtn {
  float: right;
}
