<!DOCTYPE html>
<html ng-app="Warpy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Warpy - Production</title>

  
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,700,500,400" rel="stylesheet">
</head>
<body>

    <div ui-view ></div>
   
    <script type="text/javascript" src="/assets/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{googlePlacesKey}}"></script>
    <script src="/assets/bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>

    <link rel="stylesheet" href="/assets/bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/bower_components/angular-google-places-autocomplete/src/autocomplete.css">


    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/style.css -->
    <link rel="stylesheet" href="assets/styles/css/styles.css">
    
    <!-- Loading My app -->
    <script>
        var globalConfigs = {
            appName: '{{appName}}',
            apiVersion: '{{apiVersion}}',
            appVersion: '{{appVersion}}',
            scriptVersion: '{{scriptVersion}}',
            
            apiUrl: '{{apiUrl}}',
            cdnUrl: '{{cdnUrl}}',
            domain: '{{domain}}',
            domainUrl: '{{domainUrl}}',
            googlePlacesKey:'{{googlePlacesKey}}'
         };
    </script>
    
    <script type="text/javascript" src="/app.js"></script>

    <script type="text/javascript" src="/modules/restaurants/restaurantModel.js"></script>
    <script type="text/javascript" src="/modules/restaurants/search/searchCtrl.js"></script>
    <script type="text/javascript" src="/modules/restaurants/restaurant/restaurantCtrl.js"></script>


</body>
</html>