/*
	Style for custom
*/

@font-style-warp:'Quicksand', Sans Serif, helvetica;
@csgreen:#8DDBBA;
@csorange:#FCB527;
@csteal:#BBd11E;
@csgrey:#dfdfdf;
@csorange:#F3F3F3;
@csyellow: #fbcc1a;
@csteal: #03d4df;


@colors: csgreen, csorange, csteal, csgrey, csorange, csyellow, csteal;

@tblack:#1d2129;
@tdarkest:#333333;
@tdarker:#606060;
@tdark:#ababab;
@tgrey:#dbdbdb;
@tlgrey:#F3F3F3;
@tgreen:#8DDBBA;
@twhite:#FFFFFF;
@tyellow:#fbcc1a;


@text-colors: tdarkest, tdarker, tdark, tgrey, tlgrey, tgreen, twhite, tyellow, tblack;

@border-color:#dfdfdf;

@import 'mixins/for';

html, body {
	font-family:@font-style-warp;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

	/* Header Style Atoms */

	h1,h2,h3,h4,h5,h6 {
		font-family:@font-style-warp;
		font-weight: bold;
	}


	h1 {
		font-size: 45px;
		font-weight: bold;
		line-height: 52px;
		letter-spacing: 1px;
		margin: 30px 0px 30px 0px;
		-webkit-font-smoothing: antialiased;

		@media (max-width: 768px) {
			font-size: 38px;
			line-height: 42px;
		}
	}

	h2 {
		font-size: 30px;
		font-weight: bold;
		line-height: 34px;
		margin:20px 0px 20px 0px;
	}

	h3 {
		font-size: 26px;
		font-weight: bold;
		line-height: 30px;
		margin:18px 0px 18px 0px;
	}

	h4 {
		font-size: 20px;
		font-weight: bold;
		line-height: 24px;
		margin:16px 0px 16px 0px;
	}

	h5 {
		font-size: 18px;
		font-weight: bold;
		line-height: 22px;
		margin:14px 0px 14px 0px;
	}

	h6 {
		font-size: 15px;
		font-weight: bold;
		line-height: 18px;
		margin:12px 0px 12px 0px;
	}

	/* Paragraph Styles */

	p {
		font-size:15px;
		font-weight: normal;
		line-height: 18px;
		margin: 12px 0px 12px 0px;
	}

	p.small {
		font-size: 13px;
		line-height: 16px;
		margin: 11px 0px 12px 0px;
	}

	p.large {
		font-size: 18px;
		line-height: 28px;
		margin:14px 0px 14px 0px;
	}

	/* Span Styles */

	span {
		font-size: 12px;
		font-weight: normal;
		margin:12px 0px 12px 0px;
	}

	/* Anchor */
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		o-transition: 0.5s;
		-ms-transition: 0.5s;
		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;

		transition: 0.5s;
	}

	a:hover, a:active, a:focus {
		text-decoration: none;
		o-transition: 0.5s;
		-ms-transition: 0.5s;
		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;

		transition: 0.5s;
	}

	a:hover, a:active, a:focus {

		.for(@colors);

		.-each(@name) {

			&.@{name} {color: @@name;}
			o-transition: 0.5s;
			-ms-transition: 0.5s;
			-moz-transition: 0.5s;
			-webkit-transition: 0.5s;

			transition: 0.5s;
		}
	}

	a:hover.text-tlgrey {
		color:white;
		o-transition: 0.5s;
		-ms-transition: 0.5s;
		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;

		transition: 0.5s;
	}

	.sbtn {

		border:none;
		border-radius: 4px;
		box-sizing: content-box;
		font-weight: bold;
		position: relative;

		text-align: center;
		vertical-align: middle;
		cursor: pointer;

		display: inline-block;
		text-decoration: none;
		white-space: nowrap;

		padding: 0px 30px;
		height: 40px;

		font-family: @font-style-warp;
		font-size: 15px;
		line-height: 22px;
		text-overflow: none;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		color:white;

		&.active {
			background: @tgreen;
		}

	}

	button:focus {
		outline:0px;
	}

	.warp-loader,
	.warp-loader:before,
	.warp-loader:after {
		border-radius: 50%;
	}

	.warp-loader {
		color: @csteal;
		font-size: 11px;
		text-indent: -99999em;
		margin: 55px auto;
		position: relative;
		width: 10em;
		height: 10em;
		box-shadow: inset 0px 0px 0px 1em;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
	}

	.warp-loader:before, .warp-loader:after {
		position: absolute;
		content: '';
	}

	.warp-loader:before {
		width: 5.2em;
		height: 10.2em;
		background: white;
		border-radius: 10.2em 0px 0px 10.2em;
		top: -0.1em;
		left: -0.1em;
		-webkit-transform-origin: 5.2em 5.1em;
		transform-origin: 5.2em 5.1em;
		-webkit-animation: load2 2s infinite ease 1.5s;
		animation: load2 2s infinite ease 1.5s;
	}

	.warp-loader:after {
		width: 5.2em;
		height: 10.2em;
		background: white;
		border-radius: 0px 10.2em 10.2em 0px;
		top: -0.1em;
		left: 5.1em;
		-webkit-transform-origin: 0px 5.1em;
		transform-origin: 0px 5.1em;
		-webkit-animation: load2 2s infinite ease;
		animation: load2 2s infinite ease;
	}