@import 'atoms';

.navbar-header {
	width: 100%;
	background: black;

	.navbar-brand {
		width: 100%;
		height: auto;
		padding: 0px 16px;

		.fa {
			float: left;
			padding-right: 10px;
		}

		h2 {
			float: left;
			padding: 8px;
			color:white;
		}
	}
}

.search-header {
	width: 100%;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url('https://source.unsplash.com/KveL_hxuY0Q/2500x1000') no-repeat center;

	.logo {
		width: 100%;
		float: left;
		padding-left: 22px;
		padding: 10px 0px 22px 30px;

		.fa {
			padding-right: 16px;
		}
	}

	.search-panel{
		width: 100%;
		text-align: center;

		h1 {
			padding: 16px 0px;
			margin: 0px auto;
			width: 100%;
		}

		input.search {
			width: 60%;
			padding: 8px 16px;
			margin-top: 16px;
			color: teal;
		}

		padding-top: 100px;
		padding-bottom: 200px;
	}
}

.search-list {
	padding-top: 80px;
	padding-bottom: 80px;

	.nothing-found,.spinner {
		text-align: center;
	}

	.restaurant {
		border-radius: 5px;
		margin-bottom: 40px;
		border: 1px solid rgb(227, 227, 227);
		padding: 0px 0px;
		display: inline-block;
		width: 100%;

		.photo {
			height: 182px;
			overflow: hidden;

			img {
				width: 100%;
				border-radius: 5px;
			}
		}

		.name-rating {
			padding-top: 16px;
			font-weight: bold;
			width: 100%;
			float: left;

			.name {
				float: left;
				padding-left: 8px;
				font-size: 19px;
				line-height: 27px;
				font-weight: 500;
				max-width: 90%;
			}

			.rating {
				background-color: #73cf42;
				border-radius: 5px;
				color: #fff;
				display: inline-block;
				font-weight: bold;
				line-height: 19px;
				margin-right: 8px;
				padding: 3px 6px;
				float: right;
				min-width: 30px;
				text-align: center;

				&.red {
					background-color: red;
				}
			}

		}

		.search-footer {
			width: 100%;
			float: left;
			padding-left: 8px;
			padding-top: 4px;
			padding-bottom: 4px;
			border-top: 1px solid rgb(227, 227, 227);


			.fa {
				margin-right: 4px;
			}
		}


	}

	.review {
		position: relative;
		margin-bottom: 40px;
		margin-top: 20px;

		img {
			width: 50px;
		}

		.rating {
			position: absolute;
			top:8px;
			right: 8px;
			background-color: #73cf42;
			border-radius: 5px;
			color: #fff;
			display: inline-block;
			font-weight: bold;
			line-height: 19px;
			margin-right: 8px;
			padding: 3px 6px;
			float: right;
			min-width: 30px;
			text-align: center;

			&.red {
				background-color: red;
			}
		}

		.text {
			height: 90px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.add-review {
		input,textarea {
			width: 100%;
			padding: 8px 16px;
			color: teal;
			margin-bottom: 20px;
		}

		.sbtn {
			float: right;
		}
	}
}